.timer {
    margin: 10px;
    display: flex;
    border: 1px solid;
    width: 350px;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 75px;

    font-size: large;
}

.title {
    padding: 10px;
    color: red;
}